{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Secret" %}{% endblock %}

{% block content %}
<div class="container-fluid">

{% block messages %}
	{% if secret_message %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>{{ secret_message }}</strong>
	</div>
	{% endif %}
{% endblock %}

{% if user.is_authenticated %}

<h3 class="h3" id="head_banner">{% trans "Secret page" %} <span class="badge badge-secondary">{% trans "Click to view and edit" %}</span></h3>

<div class="card" style="margin-bottom:10px;">
 	<div class="card-body">
		{% for data in secret_id_website %}
		<a class="btn btn-primary" style="margin-right:10px;" href="/accounts/secret_edit/{{ data.id }}/">{{ data.website }}</a>
		{% endfor %}
     	</div>
</div>

<h3 class="h3" id="head_banner">{% trans "Create new secret" %}</h3>

<a class="btn btn-primary" href="{% url 'account_secret_store' %}">{% trans "Add" %}</a>

{% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Please login first!</strong>
        </div>
{% endif %}

</div>
{% endblock %}

