{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit secret" %}{% endblock %}

{% block content %}
<div class="container-fluid">

{% if user.is_authenticated %}

        <form class="container-fluid text-center" id="secret_edit_form" method="POST">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                        <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                        </div>
                {% endfor %}
                <button class="btn btn-outline-primary" type="submit">{% trans "Submit" %}</button>
        </form>

{% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Please login first!</strong>
        </div>
{% endif %}

</div>
{% endblock %}

